.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 3rem;
}

.details {
    width: 28rem;
}

.details form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

button {
    color: white;
    background-color: #e72929;
    border: none;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 10rem;
    outline: none;
}

button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.loginLink {
    color: white;
    text-decoration: underline;
}